<div class="city-image-row">
  <%= image_tag("Picture1.png", class: 'right-margin') %>
  <%= image_tag("Picture2.png", class: 'right-margin left-margin') %>
  <%= image_tag("Picture3.png", class: 'right-margin left-margin') %>
  <%= image_tag("Picture4.png", class: 'left-margin') %>
</div>
<nav>
  <ul class="city-name-row">
  	<li>San Diego</li>
  	<li>-</li>
    <li class='big-city-name'>Los Angeles</li>
    <li>-</li>
    <li>San Francisco</li>
    <li>-</li>
    <li>Portland</li>
    <li>-</li>
    <li>Dallas</li>
    <li>-</li>
  	<li class='big-city-name'>Houston</li>
  	<li>-</li>
  	<li>San Antonio</li>
  	<li>-</li>
  	<li>Atlanta</li>
  	<li>-</li>
  	<li>Chicago</li>
  	<li>-</li>
  	<li class='big-city-name'>Cincinnatti</li>
  	<li>-</li>
  	<li>Indianapolis</li>
  	<li>-</li>
  	<li>Baltimore</li>
  	<li>-</li>
  	<li class='big-city-name'>Philadelphia</li>
  	<li>-</li>
  	<li>Buffalo</li>
  </ul>
</nav>
<div class="city-image-row">
  <%= image_tag("Picture5.jpg", class: 'right-margin') %>
  <%= image_tag("Picture6.png", class: 'right-margin left-margin') %>
  <%= image_tag("Picture7.png", class: 'right-margin left-margin') %>
  <%= image_tag("Picture8.png", class: 'left-margin') %>
</div>
<nav>
  <ul class="city-name-row">
  	<li>Washington DC</li>
  	<li>-</li>
    <li class='big-city-name'>New York</li>
    <li>-</li>
    <li>Boston</li>
    <li>-</li>
    <li>Pitsburgh</li>
    <li>-</li>
    <li>Cleveland</li>
    <li>-</li>
  	<li class='big-city-name'>Detroit</li>
  	<li>-</li>
  	<li>Kansas City</li>
  	<li>-</li>
  	<li>Salt Lake City</li>
  	<li>-</li>
  	<li class='big-city-name'>Las Vegas</li>
  	<li>-</li>
  	<li>Phoenix</li>
  	<li>-</li>
  	<li>Albaquerque</li>
  	<li>-</li>
  	<li>Memphis</li>
  	<li>-</li>
  	<li class='big-city-name'>Tampa</li>
  	<li>-</li>
  	<li>Charlotte</li>
  </ul>
</nav>