<div class="city-image-row">
  <%= image_tag("Picture1.png") %>
  <%= image_tag("Picture2.png") %>
  <%= image_tag("Picture3.png") %>
  <%= image_tag("Picture4.png") %>
</div>
<nav>
  <ul class="city-name-row">
  	<li><span>San Diego</span></li>
  	<li><span>San Diego</span></li>
  	<li><span>San Diego</span></li>
  	<li><span>San Diego</span></li>
  	<li><span>San Diego</span></li>
  </ul>
</nav>
<div class="city-image-row">
  <%= image_tag("Picture5.jpg") %>
  <%= image_tag("Picture6.png") %>
  <%= image_tag("Picture7.png") %>
  <%= image_tag("Picture8.png") %>
</div>